* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.navbar {
    position: fixed;
    margin-bottom: 80px;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.navbar-list {
    display: flex;
    gap: 15px;
    font-size: 17px;
    font-weight: normal;
}